---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://lubny-ukg.co.ua{{ page.url }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{% if page.url == "/" %}1.0{% else %}0.8{% endif %}</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
